In [21]:
import pandas as pd
from sklearn.naive_bayes import GaussianNB
from sklearn import metrics

In [3]:
weather_data = pd.read_csv(r"weather_data.csv")
weather_data

     Outlook Temperature Humidity  Windy Play Golf
0      Rainy         Hot     High  False        No
1      Rainy         Hot     High   True        No
2   Overcast         Hot     High  False       Yes
3      Sunny        Mild     High  False       Yes
4     Sunny         Cool   Normal  False       Yes
5      Sunny        Cool   Normal   True        No
6   Overcast        Cool   Normal   True        No
7      Rainy        Mild     High  False        No
8      Rainy        Cool   Normal  False       Yes
9      Sunny        Mild   Normal  False       Yes
10     Rainy        Mild   Normal   True       Yes
11  Overcast         Hot   Normal  False       Yes
12  Overcast        Mild   Normal   True       Yes
13     Sunny        Mild     High   True        No

In [7]:
dummed_weather_data = pd.get_dummies(weather_data)

In [18]:
dummed_weather_data.head(3)

,Windy,Outlook_Overcast,Outlook_Rainy,Outlook_Sunny,Outlook_Sunny,Temperature_Cool,Temperature_Hot,Temperature_Mild,Humidity_High,Humidity_Normal,Play Golf_No,Play Golf_Yes
0,False,0,1,0,0,0,1,0,1,0,1,0
1,True,0,1,0,0,0,1,0,1,0,1,0
2,False,1,0,0,0,0,1,0,1,0,0,1

In [15]:
X = dummed_weather_data.drop(columns= ["Outlook_Sunny", "Temperature_Mild", "Humidity_Normal", "Play Golf_No", "Play Golf_Yes"])
y = dummed_weather_data["Play Golf_Yes"]

In [19]:
X.head(3)

,Windy,Outlook_Overcast,Outlook_Rainy,Outlook_Sunny,Temperature_Cool,Temperature_Hot,Humidity_High
0,False,0,1,0,0,1,1
1,True,0,1,0,0,1,1
2,False,1,0,0,0,1,1

In [37]:
gnb_model = GaussianNB()
gnb_model.fit(X, y)

GaussianNB()